//background
$primary: #ffffff;
$secondary: #0f7c90;
$light: #fbfbf8;
$pink: #fff7f0;
$yellow: #ffe799;
$red: #e61b1b;
$orange-500: #be5a0e;
$orange-300: #eb8a2f;
$blue-900: #094c54;
$blue-800: #094c59;
$blue-700: #1c6a78;
$blue-600: #2896a9;
$blue-300: #f2fbfc;
$grey-500: #3c3b37;
$grey-300: #989586;
$grey-200: #dcdacb;
//font size
$text-xs: 0.5rem;
$text-xsm: 0.7rem;
$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.5rem;
$text-2xl: 2rem;
$text-3xl: 3rem;
//font weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 600;
$text-bolder: 700;
//
$spacing-half: 0.25rem;
$spacing: 0.5rem;
//border radius
$rounded-xs: 0.3125rem;
$rounded-sm: 0.5rem;
$rounded-md: 1rem;
$rounded-lg: 1.5rem;
